*{
	font-family: helvetica;
}

body{
	background-color: #ffeaea;
}

header{
	height: 240px;
	background-color: red;
	background-image: url("encabezado.jpg");
	background-repeat: no-repeat;
	width: 1024px;
	margin: 0 auto;
}

main{
	background-color: #fff;
	width: 1024px;
	margin: 0 auto;
	clear: both;
	border-left: 1px;
}

footer{
	width: 1024px;
	font-weight: bolder;
	margin: 0 auto;
	position: relative;

            height: 40px;
            padding:5px 0px;
            clear: both;
            background: #b62828;
            text-align: center;
            color: #fff;
}

nav {
	float: right;
	background-color: #b62828;
	display: block;
	width: 100%;
}

nav ul {
	margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
    float: right;
}

nav ul li{
  	float: left;
  	text-align:center;
  	line-height: 40px;
  	display: inline-block;
}
nav ul li>a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    background-color: #b62828;
    color: black;
    min-width: 40px;
}

nav ul li>a:hover {
    background: #ffeaea;
    border-left: 10px;
    border-color: white;
    font-weight: bolder;

}

article {
	padding-top: 40px;
	padding-bottom: 20px;
	width: 90%;
	margin: 0 auto;
	clear: both;
}

article h2 {
	background-color: #eee;
	display: block;
	padding-left: 5px;
}

.imgserv {
	width: 250px;
	border-radius: 50%;

}

.panelserv{
	width: 48%;
	float: left;
	text-align: center;
	padding-top: 20px;
}

.imgperson{
	float: left;
	height: 200px;
}

.imgperson>img{
	float: left;
	height: 200px;
}

.txtquienes{
	float: left;
	width: 70%;
	padding-left: 30px;
	padding-top: 
}

.contact_form ul {
    width:750px;
    list-style-type:none;
	margin:0px;
	padding:0px;
}
.contact_form li{
	padding:12px; 
	border-bottom:1px solid #eee;
	position:relative;
}
.contact_form label {
    color: #555555;
    display: inline-block;
    float: left;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 90px;
}